@import url(about.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contacts {
  justify-content: center;
}

.contacts .intro h2 {
  text-align: center;
  margin: 10vh 0 4vh;
  font-size: var(--fs-lg);
}

.contacts .intro p {
  text-align: center;
  font-size: var(--fs-md);
}

.form {
  text-align: center;
  font-size: var(--fs-md);
  margin-top: 4vh;
}

form {
  text-align: center;
}

input[type="text"],
input[type="email"],
textarea {
  width: 50%;
  height: 40px;
  border-radius: 8px;
  margin: 4vh;
  border: solid 1px;
  padding-left: 3vw;
}

textarea {
  min-height: 100px;
  width: 50%
}

@media only screen and (max-width: 50rem) {
  input[type="text"],
  input[type="email"],
  .phone-input-wrapper,
  textarea {
    width: 90%;
  }
}

.phone-input-wrapper {
  display: flex;
  width: 50%;
  margin: var(--sp-md) auto;
  height: 40px;
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
}

.phone-input-wrapper select {
  width:20%;
  border: none;
  height: 100%;
  padding: 0 0.5rem;
}

@media only screen and (max-width: 50rem) {
    .phone-input-wrapper {
        width: 90%
    }
    footer {
        display: block;
    }
}

.phone-input-wrapper input {
  flex: 1;
  border: none;
  padding-left: 1vw;
}

.form button {
  padding: var(--sp-sm);
  border-radius: 8px;
  border: solid 1px;
  font-weight: 600;
  margin-top: var(--fs-sm);
}

.links {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid;
  gap: 30%;
  justify-content: center;
  margin-top: var(--fs-mid);
}

#submit {
    padding: 0.8rem;
}

footer {
    margin-top: 10vh;
}

.quick-links h3,
.social-links h3 {
  text-align: center;
  margin-top: 5vh;
}

.quick-links ul {
  list-style-type: none;
  text-align: center;
  padding: var(--sp-sm);
}

.quick-links a {
      text-decoration: none;
}

.social-links ul {
  list-style-type: none;
  font-size: var(--fs-md);
  display: flex;
  margin: 10%;
  gap: var(--sp-md);
  gap: 1rem
}

.copy {
  text-align: center;
  margin: var(--sp-mid);
}