/* === GLOBAL RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === TYPOGRAPHY === */
:root {
  --fs-lg: 2rem;
  --fs-md: 1.2rem;
  --fs-sm: 1rem;

  --sp-sm: 0.5rem;
  --sp-md: 1rem;
  --sp-mid: 2rem;
}

.wrapper p {
  font-size: var(--fs-md);
  padding: var(--sp-mid);
  margin: 0;

}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html body {
  scroll-behavior: smooth;
}
/* === LAYOUT === */
.wrapper {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper h2 {
  font-size: var(--fs-md);
  text-align: center;
  margin-top: var(--sp-lg);
  font-size: var(--fs-lg);
  font-weight: 500;
}

p {
  font-size: var(--fs-md);
  text-align: center;
}

/* === SERVICES SECTION === */
#services {
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  display: grid;
  display: flex;
  flex-wrap: wrap;
}

/* === SERVICE CARD === */
.service-card {
  background-color: #fffafa; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  max-width: 500px;
  text-align: center;
  transition: transform 0.3s ease;
  padding: 0;
  border: 1px solid #f0f0f0;
}

.service-card img {
  object-fit: cover;
  position: center;
  width: 100%;
  max-height: 60%;
  border-radius: 4%;
}

.service-card h3 {
  padding-top: 10%;
}
.service-card p {
  width: 100%;
}

@media only screen and (max-width: 50rem) {
  .service-card {
    width: 100%
  }

  .service-card  p {
    width: 100%;
  }
}

/* === FOOTER === */
footer {
  margin-top: 10vh;
}

.links {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid;
  gap: 30%;
  justify-content: center;
  margin-top: var(--fs-mid);
}

.quick-links h3,
.social-links h3 {
  text-align: center;
  margin-top: 5vh;
}

.quick-links ul {
  list-style-type: none;
  text-align: center;
  padding: var(--sp-sm);
}

.quick-links a {
  text-decoration: none;
}

.social-links ul {
  list-style-type: none;
  font-size: var(--fs-md);
  display: flex;
  margin: 10%;
  gap: 1rem;
  justify-content: center;
}

.copy {
  text-align: center;
  margin: var(--sp-mid);
}

/* Responsive Footer Fix */
@media only screen and (max-width: 50rem) {
  .links {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  footer {
    display: block;
  }
}